body {
    background: #262626;
}
.logo-nav{
    height: 50px;
}
.nav-form {
    outline: 0;
}
.nav-form::placeholder {
    color: black;
}
.botao-pesquisa {
    width: 60px;
}
.material-icons {
    color:white;
}
.imagem-carrossel1 {
    object-fit: cover;
    object-position: 50% 10%;
    height: 350px;
}
.imagem-carrossel2 {
    object-fit: cover;
    object-position: 50% 70%;
    height: 350px;
}
.imagem-carrossel3 {
    object-fit: cover;
    object-position: 50% 40%;
    height: 350px;
}
.titulo-form {
    width: 40%;
}
.input-form {
    width: 270px;
}
.input-form::placeholder {
    color: black;
}
@media (max-width: 600px) {
    .formulario {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .titulo-form {
        width: 90%;
        padding-bottom: 30px;
    }
    footer {
        margin-top: 100px;
    }
}
/* ****************************** Pagina de contato style ********************************************************* */

.pessoas-style{
    /* border: rgb(97, 95, 95) groove; */
    background-color: transparent;
    max-width: 20rem;
    align-items: center;
    width: 220px;
    justify-content: center;
}

.pessoas{
    border-radius: 50%;
    width: 100px;
}
.contatos{
    color: aliceblue;
    /* max-width:18rem; */
}
.redes-sociais{
    list-style: none;
    text-align:left;
}
.redes-sociais a{
    color: aliceblue;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
}
.redes-sociais a:hover{
    cursor: pointer;
    color: rgb(97, 95, 95);
}
